.salary {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.salary p {
    padding-left: 24px;
}

.salary-box {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 75%;
    height: 32px;
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
}