.cell {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    color: black;
}

.cell img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
