.cell {
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    margin: 5px;
    padding-left: 8px;
    line-height: 50px;
    cursor: pointer;
  }
  
  .infoStaff {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 19px;
    padding: 10px;
  }
  
  .endInfo {
    background-color: white;
    color: red;
    border-radius: 5px;
  }